input::placeholder {
    color:white; /* Change this to your desired placeholder text color */
  }
.footer{
    background-color: #1A202C;
    height:300px;
    padding: 30px 0px;
}
.main{
    display: flex;
    color: white;
    width:80%;
    margin: auto;
    gap:20px;
    justify-content: space-around;
}
.logo{
    width: 150px;
    height: 64px;
    color: white;
}
.buss{
    color: #4299E1;
    font-size: 18px;
    font-weight: 500;
}
.email{
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    color: white;
    background-color: #1A202C;
}
.icons{
    color:white;
    padding: 20px;
    display: flex;
    gap:15px
    
}
h3{
    color: #4299E1;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width:320px){
    .footer{
        height: 950px;
        padding: 40px 0px;
    }
    .main{
        display:grid;
        color: white;
        width:100%;
        margin: auto;
        gap:0px;
        text-align: left;
       
    }
}
@media all and (min-width:321px) and (max-width:666px){
    .footer{
        height: 550px;
        padding: 40px 0px;
    }
    .main{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        width:80%;
        margin: auto;
        gap:40px;
       
       
    }
}